<div class="wrapper">
  <div>
    <span>
      jakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakis
      jakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakis
      tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekst
    </span>
  </div>
  <div>
    <span>
      jakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakisjakis tekstjakisjakis
    </span>
  </div>
  <div class="main-window">
    <div class="heading">
      Placeholder
    </div>
    <app-chart [users]="users"></app-chart>
    <app-table [users]="users"></app-table>
  </div>
  <button>jakiś button</button>
  <div>
    <span>
      dvdmfdfmdfmfmdvekstjakisjakisjakis tekstjakisjakisvvjakis tekstjakisjakis
    </span>
  </div>
  <div>
    <span>
    jakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekstjakis tekst
    </span>
  </div>
</div>